streamlit
openai
PyMuPDF # Para a biblioteca fitz
python-docx
SpeechRecognition
python-dotenv
langdetect
pandas
fpdf2
joblib
scikit-learn
sentence-transformers
requests
librosa # A biblioteca que está faltando
soundfile # Dependência importante para o librosa
numpy
openpyxl # Para o pandas ler arquivos .xlsx
plotly
joblib==1.4.2